@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');



.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.float-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  
} 

#footer {
  font-family: 'Quicksand', sans-serif;
  position: static;
  bottom: 0;
  width: 94%;
  padding-top: 1%;
}

#yelp_img {
  width: auto;
  height: 400px;
}

#button {
  display: inline;
}

#profileButton a {
  text-decoration: none;
  font-family: 'Jost';
  letter-spacing: 1px;
  
  color: black;
}

#profileButton:hover {
  background-color: rgb(239, 243, 177);
  ;

}