@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.cdnfonts.com/css/felix-titling');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body {
	background-position: center;
	background-size: cover;
	background-color: rgb(225, 220, 222);
	height: 100vh;
	background-repeat: no-repeat;
}

header {
	width: 100%;
}

h1 {
	font-family: 'Racing Sans One', cursive;
}

h6 {
	font-family: 'Jost';
}

p {
	font-family: 'Quicksand', sans-serif;
}

#logo {
	opacity: 1.0;
}

.navbar {
	background-color: rgba(205, 32, 38);
}

.shadow {
	background: rgba(0, 0, 0, 0.1);
}

#dropdownMenuButton1 {
	font-family: 'Jost';
	letter-spacing: 1px;

	color: black;
}

#dropdownMenuButton1:hover {
	background-color: rgb(239, 243, 177);
	;

}

.dropdown-menu {
	opacity: 1.0;
	background: rgba(0, 0, 0, 0.1);
}

#name {
	background: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.1);
}

#color {
	background: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	font-family: 'Bebas Neue', cursive;
	background-color: silver;
	letter-spacing: 1px;
}

.dropdown-item.active {
	background-color: rgba(0, 0, 0, 0.4);
}

#id {
	background: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.2);
}

.coverpage:hover {
	cursor: pointer;
	transform: scale(0.2);
	transition: 0.01s;
}

/* cover page css */
.image-container {
	float: left;
	width: 600px;
	height: 500px;
	position: relative;
	margin: 10px;
	cursor: pointer;
}

.image-container img {
	width: 600px;
	height: 500px;
	position: absolute;
}



.image-caption h1 {
	padding: 45px 0px 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: -15px;
	text-transform: uppercase;
	font-family: 'Racing Sans One', cursive;
	font-size: 25px;
	color: #0e0d0d;
	z-index: 1000;
}

.image-caption {
	width: 100%;
	height: 100%;
	background: rgba(205, 202, 202, 0.7);
	position: absolute;
	opacity: 0;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	z-index: 1000;
}

.image-container:hover .image-caption:hover {
	opacity: 1;

}

.jm-logo:hover {
	opacity: 2;
}


/* new cover page css */

.jm-logo img:hover {
	-webkit-animation-name: wobble-to-top-right;
	animation-name: wobble-to-top-right;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	cursor: pointer;
}

@-webkit-keyframes wobble-to-top-right {
	16.65% {
		-ms-transform: translate(8px, -8px);
		-webkit-transform: translate(8px, -8px);
		transform: translate(8px, -8px);
	}

	33.3% {
		-ms-transform: translate(-6px, 6px);
		-webkit-transform: translate(-6px, 6px);
		transform: translate(-6px, 6px);
	}

	49.95% {
		-ms-transform: translate(4px, -4px);
		-webkit-transform: translate(4px, -4px);
		transform: translate(4px, -4px);
	}

	66.6% {
		-ms-transform: translate(-2px, 2px);
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	83.25% {
		-ms-transform: translate(1px, -1px);
		-webkit-transform: translate(1px, -1px);
		transform: translate(1px, -1px);
	}

	100% {
		-ms-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

@keyframes wobble-to-top-right {
	16.65% {
		-ms-transform: translate(8px, -8px);
		-webkit-transform: translate(8px, -8px);
		transform: translate(8px, -8px);
	}

	33.3% {
		-ms-transform: translate(-6px, 6px);
		-webkit-transform: translate(-6px, 6px);
		transform: translate(-6px, 6px);
	}

	49.95% {
		-ms-transform: translate(4px, -4px);
		-webkit-transform: translate(4px, -4px);
		transform: translate(4px, -4px);
	}

	66.6% {
		-ms-transform: translate(-2px, 2px);
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}

	83.25% {
		-ms-transform: translate(1px, -1px);
		-webkit-transform: translate(1px, -1px);
		transform: translate(1px, -1px);
	}

	100% {
		-ms-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}



/* for form style */



.form-style-9 {
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid rgba(205, 32, 38);
}

.form-style-9 ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.form-style-9 ul li {
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.form-style-9 ul li .field-style {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}

.form-style-9 ul li .field-style:focus {
	box-shadow: 0 0 5px #B0CFE0;
	border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
	width: 49%;
}

.form-style-9 ul li .field-full {
	width: 100%;
}

.form-style-9 ul li input.align-left {
	float: left;
}

.form-style-9 ul li input.align-right {
	float: right;
}

.form-style-9 ul li textarea {
	width: 100%;
	height: 100px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}


/* cus botton css */

.button-cus {
	border-radius: 16px;
	background-color: rgba(205, 32, 38);
	border: none;
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 220px;
	transition: all 0.8s;
	cursor: pointer;
	margin: 36px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.button-cus {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-cus:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 14px;
	right: -20px;
	transition: 0.5s;
}

.button-cus:hover {
	padding-right: 24px;
	padding-left: 8px;
}

.button-cus:hover:after {
	opacity: 1;
	right: 10px;
}


.input-group-text {
	background-color: #fff;
	margin-top: 0px;
	margin-bottom: 16px;
	margin-left: 16px;
}

.input-group {
	margin-top: 0px;
}



/* button result page add fav and unfav list */

.button23 {
	transition: all .5s ease;
	color: rgb(92, 90, 90);
	border: 3px solid rgba(205, 32, 38);
	font-family: 'Jost';
	background-color: white;
	text-align: center;
	line-height: 1;
	font-size: 17px;
	/* background-color : transparent; */
	padding: 10px;
	outline: none;
	border-radius: 10px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.button23:hover {

	color: #fff;
	background-color: rgba(205, 32, 38);
}


/* table format */
.table-style-8 {
	max-width: 450px;
	background: #dad2d6;
	padding: 14px 10px 0px 15px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 15px;
	border: 6px solid rgba(205, 32, 38);
}

/* .intro {
	height: 100%;
} */

table td,
table th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mask-custom {
	background: rgba(24, 24, 16, .2);
	border-radius: 2em;
	backdrop-filter: blur(25px);
	border: 2px solid rgba(255, 255, 255, 0.05);
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/* favorites / dislike buttons */

.button24 {
	transition: all .5s ease;
	color: rgb(92, 90, 90);
	border: 3px solid rgba(205, 32, 38);
	font-family: 'Jost';
	background-color: white;
	text-align: center;
	line-height: 1;
	font-size: 17px;
	/* background-color : transparent; */
	padding: 10px;
	outline: none;
	border-radius: 10px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.button24:hover {

	color: #fff;
	background-color: rgba(205, 32, 38);
}